

.header-container{
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}

.header-icon{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 3px;
}

.header-details{
   display: flex;
   flex-direction: row;
   gap: 15px;
}


.header-title{
   display: flex;
   flex-direction: column;
   text-align: left;
   color: aliceblue;
}

.header-nav-list{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 3px;
}

.list-item a{
    list-style-type: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

li{
    list-style: none;
}

@media screen and (max-width: 767px) {
    .header-details h1{
        font-size: 20px;
        display: none;
    }

    .header-details img{
        width: 50px;
        height: 50px;
    }
  
    .header-container{
      
    }

    .list-item a{
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .header-container{
      padding-left: 20px;
        padding-right: 20px;
    }
}
    
